@import "variables";


.page1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left right';
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 6rem;
    padding-bottom: 20vh;
}



.page1__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: 'left';
    font-family: $OpenFont;

    .page1__left--maintext{
        @include h1Style
    }
    .page1__left--secondtext{
        padding-bottom: 5vh;
        color: $DesaturatedBlue;
        font-size: 2vh;
        font-weight: 400;
    }

}

.page1__right {
    grid-area: 'right';
    display: flex;
    justify-content: center;
    img {
        width: 80%;
    }
}

.page1__left__user{
    display: flex;
    width: 33vw;
    justify-content: space-between;
    align-items: center;

    input{
        width: 35vh;
        height: 3vh;
        border-radius: 0.5rem;
        border: 1px solid $LightGray;
    }

    .page1__left__user--button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $BrightBlue;
        color: white;
        height: 3vh;
        width: 25vh;
        font-size: 1.5rem;
        border-radius: 0.5rem;
    }
}