
/* ## Colors

### Primary */

$VeryDarkBlue: hsl(243, 87%, 12%);
$DesaturatedBlue: hsl(238, 22%, 44%);

/* ### Accent */
$BrightBlue: hsl(224, 93%, 58%);
$ModerateCyan: hsl(170, 45%, 43%);

/* ### Neutral */

$LightGrayishBlue: hsl(240, 75%, 98%);
$LightGray: hsl(0, 0%, 75%);


$RallewayFont: 'Raleway', sans-serif;
$OpenFont: 'Open Sans', sans-serif;

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');


@mixin h1Style {
        font-size: 3rem;
        color: $VeryDarkBlue;
        padding-bottom: 5vh;
        font-family: $OpenFont;
}



@mixin pStyle {
        color: $DesaturatedBlue;
        font-size: 2rem;
        font-weight: 400;
        font-family: $OpenFont;
}



@mixin btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $BrightBlue;
        color: white;
        height: 3vh;
        width: 25vh;
        font-size: 1.5rem;
        border-radius: 0.5rem;
}